header {
background-image: url(./img/travis-scott.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
text-align: center;
}

h1 {
display: inline-block;
}

body {
    margin: 0px;
    padding: 0px;
}

.travis {
    width: 50%;
    float: right;
    

    
}

.sec1 {
    min-width: 100vw;
}

.textotravis {
padding-right: 50em;
/* width: 100vw; tocar esto para mover texto */
}



form {
    text-align: center;
}