@font-face {
  font-family: "Bat";
  src: url(./fonts/batmfa__.ttf);
}

body {
  margin: 0em;
  padding: 0em;
  background-image: url(./img/backcity.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section {
  background-color: #f94c82;
  display: block;
  text-align: center;
  position: fixed;
  padding-top: 2.5em;
  top: 50%;
  left: 50%;
  width: 20em;
  height: 20.3em;
  border-radius: 25px;
  padding: 30px;
  transform: translate(-50%, -25%);
  
}

h1 {
  text-align: center;
  font-family: "Bat";
  font-size: 7em;
  
}

img {
  height: 7em;
  max-width: 100%;
}

input {
  background-color: black;
  color: #f94c82;
  font-size: 1em;
  border: black;
  border-radius: 25px;
  padding: 10px;
  max-width: 100%;
}

::placeholder {
  color: #f94c82;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: #f94c82;
  text-decoration: none;
}
a:hover {
  color: #f94c82;
  text-decoration: none;
}
a:active {
  color: #f94c82;
}
